---
export interface Props {
	text: string
}

const { text } = Astro.props
---

<span class='tech-pill inline-block px-4 py-2 rounded-full text-sm text-gray-600 dark:text-white bg-gray-200/50 dark:bg-white/10 m-2 border-1 border-gray-200'>
	{text}
</span>

<style>
	.tech-pill {
		animation: float 3s ease-in-out infinite;
	}

	span:nth-child(2) {
		animation-delay: 200ms;
	}

	span:nth-child(3) {
		animation-delay: 400ms;
	}

	span:nth-child(4) {
		animation-delay: 600ms;
	}

	span:nth-child(5) {
		animation-delay: 800ms;
	}

	span:nth-child(6) {
		animation-delay: 200ms;
	}

	@keyframes float {
		0%,
		100% {
			transform: translateY(0px);
		}
		50% {
			transform: translateY(-10px);
		}
	}
</style>
