---
const menuItems = [
	{ text: 'Experiencia', href: '#experience' },
	{ text: 'Proyectos', href: '#projects' },
	{ text: 'Contáctame', href: 'mailto:luichidev@gmail.com' }
]
---

<header class='fixed top-0 z-100 flex items-center justify-center w-full mx-auto mt-2'>
	<nav class='max-w-4xl mx-auto px-4 py-4 flex justify-between items-center'>
		<ul class='flex justify-center gap-4'>
			{
				menuItems.map((item, index) => (
					<li>
						<a href={item.href} class={`text-gray-600 dark:text-white/80 hover:text-gray-900 dark:hover:text-white transition-colors px-4 py-2 rounded-full hover:bg-primary [&.active]:text-white [&.active]:bg-primary ${index === 0 ? 'active' : ''}`}>
							{item.text}
						</a>
					</li>
				))
			}
		</ul>
		<button id='theme-toggle' class='p-2 rounded-full hover:dark:bg-gray-900 transition-colors'>
			<svg id='sun-icon' class='w-6 h-6 text-gray-600 dark:text-white hidden dark:block' fill='none' stroke='currentColor' viewBox='0 0 24 24'>
				<path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z'></path>
			</svg>
			<svg id='moon-icon' class='w-6 h-6 text-gray-600 dark:text-white block dark:hidden' fill='none' stroke='currentColor' viewBox='0 0 24 24'>
				<path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z'></path>
			</svg>
		</button>
	</nav>
</header>

<script>
	document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
		anchor.addEventListener('click', function (e) {
			e.preventDefault()
			const target = e.currentTarget as HTMLAnchorElement
			const targetId = target.getAttribute('href')?.substring(1) || ''
			const targetElement = document.getElementById(targetId)
			if (targetElement) {
				targetElement.scrollIntoView({
					behavior: 'smooth'
				})
			}
		})
	})

	document.addEventListener('DOMContentLoaded', () => {
		const sections = document.querySelectorAll('section[id]')
		const navLinks = document.querySelectorAll("nav a[href^='#']")
		const themeToggle = document.getElementById('theme-toggle')
		const observerOptions = { threshold: 0.3 }

		const observerCallback = (entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					navLinks.forEach((link) => link.classList.remove('active'))
					const id = entry.target.getAttribute('id')
					const activeLink = document.querySelector(`nav a[href="#${id}"]`)
					if (activeLink) {
						activeLink.classList.add('active')
					}
				}
			})
		}

		const observer = new IntersectionObserver(observerCallback, observerOptions)
		sections.forEach((section) => observer.observe(section))

		// Handle theme toggle
		themeToggle?.addEventListener('click', () => {
			document.querySelector('nav').classList.toggle('dark')
			document.documentElement.classList.toggle('dark')
			localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light'
		})
	})
</script>

<style>
	nav {
		background-color: transparent;
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 200px;
	}

	nav.dark {
		background-color: transparent;
		animation: nav-dark-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 200px;
	}

	@keyframes nav-shadown {
		0% {
			/* @apply dark:bg-gray-800/0 bg-white/0; */
			background-color: transparent;
			color: black;
		}
		to {
			/* @apply shadow-lg ring-1 backdrop-blur ring-white/10; */
			background-color: white;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(10px);
			border-radius: 9999px;
		}
	}

	@keyframes nav-dark-shadown {
		0% {
			/* @apply dark:bg-gray-800/0 bg-white/0; */
			background-color: transparent;
			color: white;
		}
		to {
			/* @apply shadow-lg ring-1 backdrop-blur ring-white/10; */
			background-color: #101828;
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			border-radius: 9999px;
		}
	}
</style>
